body{
    letter-spacing: .0267rem;
}
.wide-btn{
    display: block;
    width: 100%;
    height: 1.2rem;
    margin-bottom: .5rem;
    border-radius: .8rem;
    font-size: .5867rem;
    border: 0;
    box-shadow: .1rem .1rem;
}
.small-btn{
    display: inline-block;
    height: 1.2rem;
    border-radius: .4rem;
    font-size: .5867rem;
    border: 0;
}
.abled-btn{
    background-color: rgb(95, 113, 128);
    color: #fff;
    height: 1rem;
}
.disabled-btn{
    color: #ccc;
    background-color: #f0f0f0;
    height: 1rem;
}
.wide-input{
    width: 100%;
    height: 1rem;
    border-radius: .1333rem;
    border: 2px solid #e0e0e0;
    padding-left: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    outline: none;
    color: #232332;
    font-size: .4267rem;
}
.small-input{
    height: 1rem;
    border-radius: .1333rem;
    border: 2px solid #e0e0e0;
    padding-left: 10px; 
    box-sizing: border-box;
    outline: none;
    color: #232332;
    font-size: .4267rem;
}
.details{
    text-decoration: underline;
    color:rgb(43, 43, 241);
}
.red{
    color: #EF4C53;
}
.blue{
    color:rgb(43, 43, 241);
}
.yellow{
    color: rgb(241, 192, 55);
}
.green{
    color: rgb(90, 146, 90);
}
.fade{
    color: #333;
}
header{
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    top: 0;
}
img{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color:#000;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}