/* html {
    background-image: linear-gradient(to right bottom, rgb(236, 202, 208), #EF4C53);
} */
html{
    background: url(../images/bgc.png);
}
body{
    
    margin: 0 1rem ;
}
/* .bgc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background: url(../images/red-bgc.png);
    background-size: 20rem auto;
    z-index: -98;
} */
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: .8rem;
    margin-bottom: 1rem;
    background-color: transparent;
}
.contact {
    text-align: right;
    line-height: 1rem;
    font-size: .3733rem;
    font-weight: 700;
    color: #eee;
    margin-right: -.3rem;
}
h2 {
    margin: 0;
    margin-left: -.4rem;
    font-size: .88rem;
    font-weight: 700;
    color: #eee;
    text-align: center;
    text-shadow: .1rem .1rem .1333rem #333;
    letter-spacing: .1rem;
}

.main {
    position: relative;
    background-color: #fff;
    width: 100%;
    padding: .5rem;
    border-radius: .2rem;
    /* box-shadow: 0 0 .4rem #EF4C53; */
    box-shadow: 0 0 .2rem #888;
    box-sizing: border-box;
    /* opacity: .8; */
}

@keyframes run {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -1200px 0;
    }
}

.canvans {
    position: absolute;
    bottom: .5rem;
    left: 0;
    width: 100%;
    height: 525px;
    background: url(../images/steamer.png);
    animation: run 15s linear infinite backwards;
    z-index: -99;
}


.logo {
    height: auto;
    width: 4rem;
    margin: 0 auto;
}

.logo img {
    width: 100%;
    height: auto;
}

.title {
    font-family: "Microsoft Yahei", "Helvetica Neue";
    text-align: center;
    font-size: .9333rem;
    color: #EF4C53;
    font-weight: 400;
    text-shadow: .1333rem .1333rem .2rem #fc949a;
    margin-top: 0;
}

.login {
    margin-top: .8rem;
}
.login > label{
    font-family: "iconfont";
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    background-color: transparent;
    box-shadow: 0 0 .1rem #EF4C53;
    border-radius: .45rem;
    padding:0 ;
    /* margin-bottom: .4rem; */
}
.login span{
    margin: 0 .2rem ;
    font-size: .64rem;
    color: #a81627;     
}
#username,
#password {
    flex: 1;
    height: 1rem;
    border: none;
    box-sizing: border-box;
    outline: none;
    color: #232332;
    font-size: .4267rem;
    background-color: transparent;
}

.more-action {
    display: flex;
    margin: .2667rem;
    height: .5333rem;
}
.more-action label {
    display: flex;
    flex: 50%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}
.alert-box{
    display: flex;
    /* visibility: hidden; */
    font-family: "iconfont";
    font-size: .32rem;
    margin: 3.75px;
    height: .5333rem;
    box-sizing: border-box;
    background-color: #fff;
}
.alert-box > div {
    display: none;
    justify-content: center;
    align-items: center;
}
#remember {
    width: .5333rem;
    height: .5333rem;
}
.more-action label span {
    position: relative;
    top: 0;
    left: 0;
    font-size: .4267rem;
    line-height: .5333rem;
    margin-left: .1rem;
}

.find-psw {
    text-align: right;
    text-decoration: none;
    font-size: .4267rem;
    color: #888;
    line-height: .5333rem;
}

.login-btn {
    background-color: #e34c5d;
    color: #fff;
}

.register-btn {
    background-color: #eee;
    border: .04rem solid #e34c5d;
    color: #EF4C53;
    box-shadow: none;
}

.quick-login-btn {
    background-color: rgb(241, 192, 55);
    color: #e0e0e0;
}