.header {
    font-family: "iconfont";
    display: flex;
    justify-content: space-between;
    padding: .5rem .3rem .3rem;
    font-size: .45rem;
    box-sizing: border-box;
    line-height: .45rem;
    background-color: #fff;
    z-index: 10;
}

.page-name {
    font-weight: 700;
}

.service {
    font-size: 1rem;
    line-height: .5rem;
    font-weight: 700;
}

.pro-info {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #ddd;
    text-align: center;
    padding: .3rem;
}

.pro-name {
    font-size: .5rem;
    margin: .1rem;
}

.pro-type {
    font-size: .45rem;
}

.label-box ul {
    display: flex;
    justify-content: center;
}

.pro-label {
    margin: .2rem;
    border: .04rem solid #EF4C53;
    padding: .1rem .2rem;
    font-size: .4rem;
    color: #EF4C53;
    border-radius: .15rem;
}

.parameter-box {
    display: flex;
    font-size: .4rem;
    justify-content: center;
}

.pro-parameter {
    margin: .1rem .8rem;
}

.parameter-num {
    margin-bottom: .4rem;
}

.example {
    position: relative;
    background-color: #eee;
    border-radius: .3333rem;
    font-size: .3733rem;
    margin: .4rem;
    padding: 0 .39rem;
    text-align-last: justify;
    line-height: .5rem;
}

.arrow-top {
    position: absolute;
    top: -0.52rem;
    left: 1.5rem;
    width: 0;
    height: 0;
    /* 为了照顾兼容性 */
    line-height: 0;
    font-size: 0;
    /* 其他边框透明 */
    border: 10px solid transparent;
    border-bottom-color: #eee;
}

.short-info {
    font-family: "iconfont";
    display: flex;
    justify-content: space-between;
    font-size: .4rem;
    font-weight: 700;
    line-height: .4rem;
    padding: .3rem .5rem;
    border-top: 10px solid #ddd;
    /* border-bottom: 10px solid #ddd; */
}

.small-ico {
    font-size: .5333rem;
}

.rule,
.specific {
    display: flex;
    flex-direction: column;
    padding: .3rem .5rem;
    font-size: .35rem;
    border-top: 10px solid #ddd;
    /* border-bottom: 10px solid #ddd; */

}

.rule-title,
.specific-title {
    font-family: "宋体";
    font-weight: 700;
    font-size: .4rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.rule-more,
.specific-more {
    font-family: "iconfont";
    color: #888;
}

.rule-box,
.specific-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
}

.rule-detail,
.specific-detail {
    display: flex;
    text-align: left;
    margin-bottom: .8rem;
}

.rule-name,
.specific-name {
    flex: 1;
}

.rule-intro,
.specific-intro {
    flex: 1;
}

.footer{
    position:sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
.state{
    display: flex;
    justify-content: space-between;
    font-size: .5rem;
    text-align: center;
    line-height: .5rem;
    background-color: rgb(119, 55, 55);
    padding: 0;
    /* padding: .2rem .5rem; */
    box-sizing: border-box;
    border-bottom: .1333rem solid #ccc;
    border-radius: .2333rem;
    color: #fff;
}
.min-logo{
    width: 1rem;
    padding: .2rem 0 .2rem .3rem;
}
.pro-left{
    line-height: 1.1rem;
    font-size: .5rem;
    letter-spacing: .0267rem;
    padding: .2rem .5rem .2rem 0;

    /* 不允许换行 */
    white-space: nowrap;
}
.time-box{
    /* flex: 25%; */
    position: relative;
    background-color: rgb(252, 227, 230);
    padding: .2rem .5rem;
    box-sizing: border-box;
}
.arrow-left{
    position: absolute;
    top: 0rem;
    left:-1.5rem;
    width: 0;
    height: 0;
    /* 为了照顾兼容性 */
    line-height: 0;
    font-size: 0;
    /* 其他边框透明 */
    border: .8rem solid transparent;
    border-right-color: rgb(252, 227, 230);
}
.time-left{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.time-title{
    font-size: .1rem;
    margin-bottom: .1rem;
}
.time-h,.time-m,.time-s{
    background-color: #EF4C53;
    padding: .1rem;
    border-radius: .1rem;
    color: #fff;
    box-sizing: border-box;
    font-size: .3rem;
    line-height: .3rem;
    font-weight: 700;
}
.scheduled-btn{
    border-radius: 0;
    margin: 0;
    box-shadow: 0;
    background-image: linear-gradient(to right, #EF4C53, rgb(255, 115, 0));
    color:#fff;
}