<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>主页面</title>
    <!-- 共同部分 start -->
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="shortcut icon" href="./images/ico.png" type="image/x-icon">
    <!-- flexible.js rem为屏幕像素除以10 -->
    <script src="./js/flexible.js"></script>
    <script src="./js/jQuery.min.js"></script>
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script> -->
    <script src="./js/common.js"></script>
    <script src="./js/vue2-6-12.min.js"></script>
    <!-- 共同部分 end -->
    <link rel="stylesheet" href="./css/swiper-bundle.min.css">
    <!-- <link href="https://cdn.bootcdn.net/ajax/libs/Swiper/8.0.6/swiper-bundle.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="./fonts/iconfont.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/index.js"></script>
</head>

<body>
    <!-- 提示动画 -->
    <div class="tip-box">
        <div class="tip-title">温馨提示</div>
        <p>请输入正确的账号</p>
        <div class="cancel-box">知道了</div>
    </div>
    <div class="cover blur"></div>
    <header class="header">
        <div class="logo"><a href="index.html"><img src="./images/ico-a.png" alt=""></a></div>
        <div class="search-bar">
            <div class="search-ico">&#xe60b;</div>
            <input type="text" class="small-input search-text" name="" id="" placeholder="最新产品">
        </div>
        <div class="service">&#xe65f;</div>
        <div class="message">&#xe6ba;</div>
    </header>
    <div class="info-header">
        <div class="choices">
            <div class="loans">
                <div class="small-ico">&#xe63e;</div>
                <div class="small-text">贷款</div>
            </div>
            <div class="store">
                <div class="small-ico">&#xe6aa;</div>
                <div class="small-text">理财</div>
            </div>
            <div class="myorder">
                <div class="small-ico">&#xe897; </div>
                <div class="small-text">我的订单</div>
            </div>
        </div>
        <div class="hello">
            <div class="time">早上好!</div>
            <div class="user">登录/注册</div>
            <div class="logout" >退出登录</div>
        </div>
    </div>
    <div class="main" id='index' v-cloak>
        <!-- Swiper1 -->
        <div class="swiper mySwiper1">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="./upload/swiper1.png" alt=""></div>
                <div class="swiper-slide"><img src="./upload/swiper2.png" alt=""></div>
                <div class="swiper-slide"><img src="./upload/swiper3.png" alt=""></div>
                <div class="swiper-slide"><img src="./upload/swiper4.png" alt=""></div>
                <div class="swiper-slide"><img src="./upload/swiper5.png" alt=""></div>
                <div class="swiper-slide"><img src="./upload/swiper6.png" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="recommand">
            <div class="recommand-title">
                <span class="re-ico">&#xe651;</span>
                <span>为您推荐</span>
                <span class="change" @click='changeRecommand()'>换一批 &#xe636;</span>
            </div>
            <div class="recommand-main">
                <div class="recommand-box" v-for="item in re_show" :key="item.re_id">
                    <div class="re-name">{{item.re_name}}</div>
                    <div class="re-num">{{item.re_num}}</div>
                    <div class="re-info">{{item.re_info}}</div>
                </div>
            </div>
        </div>
        <div class="announcement">
            <span>&#xe8c4;</span>
            <!-- Swiper2 -->
            <div class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for='item in announcement' :key='item.an_id'>{{item.an_info}}</div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="ads">
            <div class="ad-loans">
                <div class="ad-title">
                    <span class="re-ico">&#xe63e;</span>
                    <span>优选贷款</span>
                    <span class="ad-more" @click='moreLoans()'>&#xe6ac;</span>
                </div>
                <ul>
                    <li class="ad-box" v-for='item in lo_show' :key='item.lo_id'>
                        <div class="ad-rank" :class="'cl'+item.lo_rank">{{item.lo_rank}}</div>
                        <div class="ad-main">
                            <div class="ad-num">{{item.lo_num}}</div>
                            <div class="ad-info">{{item.lo_info}}</div>
                        </div>
                        <div class="ad-body">
                            <div class="ad-name">{{item.lo_name}}</div>
                            <div class="ad-intro">{{item.lo_intro}}</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="ad-store">
                <div class="ad-title">
                    <span class="re-ico">&#xe6aa;</span>
                    <span>精选存款</span>
                    <span class="ad-more" @click='moreStore()'>&#xe6ac;</span>
                </div>
                <ul>
                    <li class="ad-box" v-for='item in st_show' :k_id="item.st_id" :key='item.st_id'
                        @click="goStoreProduct(item.st_id)">
                        <div class="ad-rank" :class="'cl'+item.st_rank">{{item.st_rank}}</div>
                        <div class="ad-main">
                            <div class="ad-num">{{item.st_num}}</div>
                            <div class="ad-info">{{item.st_info}}</div>
                        </div>
                        <div class="ad-body">
                            <div class="ad-name">{{item.st_name}}</div>
                            <div class="ad-intro">{{item.st_intro}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="remind">
            <div class="remind-title">
                <span class="re-ico">&#xe630;</span>
                <span>专属秘书</span>
                <div class="remind-more"><span class="temp">全部订单</span>&#xe6ac;</div>
            </div>
            <div class="total-order">
                <div class="appointed orderbox" v-if='remind.appointed'>
                    <div class="order-ico blue">&#xe8a2;</div>
                    <p>您有<span class="order-num">{{remind.appointed}}个预约</span>的订单</p>
                </div>
                <div class="unpaid orderbox" v-if='remind.unpaid'>
                    <div class="order-ico red">&#xe897;</div>
                    <p>您有<span class="order-num">{{remind.unpaid}}个待支付</span>的订单</p>
                </div>
                <div class="paid orderbox" v-if='remind.paid'>
                    <div class="order-ico yellow">&#xe899;</div>
                    <p>您有<span class="order-num">{{remind.paid}}个正在生效</span>的订单</p>
                </div>

            </div>
        </div>
    </div>
    <div class="back-btn">&#xe619;</div>

    <!-- 加载动画 tr-->
    <div class="loader-box">
        <div class="loader">
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__ball"></div>
        </div>
    </div>

    <script src="./js/v-index.js"></script>
    <!-- Swiper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.0.6/swiper-bundle.min.js"
        integrity="sha512-4w/aaXboO6KY1E/dqYwfq09sZnM+XDIcWvmHhfxvMQ+qwK84kxgWtNkAqbFNMLYd6EYA3nSgxTSyif/D3vlVMg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper1", {
            slidesPerView: 1,
            loop: true,
            autoplay: {
                disableOnInteraction: false,
                delay: 3000,
                stopOnLastSlide: false,
            },
            spaceBetween: 30,
            speed: 1000,
            freeMode: false,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dynamicBullets: true,
            },
        });
    </script>
    <script>
        var swiper = new Swiper(".mySwiper2", {
            slidesPerView: 1,
            loop: true,
            direction: 'vertical',
            autoplay: {
                disableOnInteraction: false,
                delay: 5000,
                stopOnLastSlide: false,
            },
            spaceBetween: 30,
            speed: 700,
            freeMode: false,
            pagination: {
                // el: ".swiper-pagination",
                clickable: true,
                dynamicBullets: true,
            },
        });
    </script>

</body>

</html>