<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>产品详情页</title>
    <!-- 共同部分 start -->
    <link rel="stylesheet" href="./css/normalize.css">
    <script src="./js/flexible.js"></script>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="shortcut icon" href="./images/ico.png" type="image/x-icon">
    <!-- flexible.js rem为屏幕像素除以10 -->
    <script src="./js/jQuery.min.js"></script>
    <script src="./js/vue2-6-12.min.js"></script>
    <!-- 共同部分 end -->
    <link rel="stylesheet" href="./fonts/iconfont.css">
    <link rel="stylesheet" href="./css/product.css">
    <script src="./js/dayjs.min.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/product.js"></script>
</head>

<body>
    <header class="header">
        <div class="back-ico">&#xe6ab;</div>
        <div class="page-name">产品详情</div>
        <div class="service">&#xe65f;</div>
    </header>
    <div class="tip-box">
        <div class="tip-title">温馨提示</div>
        <p>这里是个温馨提示</p>
        <div class="cancel-box">知道了</div>
    </div>
    <div class="cover blur"></div>
    <div class="main" id='product'>
        <div class="pro-info">
            <div class="pro-name">{{pro_name}}</div>
            <div class="pro-type">{{pro_type}}</div>
            <div class="label-box">
                <ul>
                    <li class="pro-label" v-for='item in pro_labels' :key='item.la_id'>{{item.la_name}}</li>
                </ul>
            </div>
            <div class="parameter-box">
                <div class="pro-parameter" v-for="item in pro_parameter" :key="item.pa_id">
                    <div class="parameter-num">{{item.pa_num}}</div>
                    <div class="parameter-info">{{item.pa_info}}</div>
                </div>
            </div>
            <div class="remind" v-if='remind.target'>
                <p>{{remind.info}}</p>
                <div class="arrow-top" :style='remind.target==1?"left:1.4rem":"left:6.5rem;"'></div>
            </div>
        </div>
        <div class="short-info">
            <div class="small-ico red">&#xe651;</div>
            <div class="risk green">{{short_info.risk}}</div>|
            <div class="per-money yellow">单份{{short_info.per_money}}元</div>|
            <div class="total-num">总额{{short_info.sum}}份</div>
        </div>
        <div class="rule">
            <div class="rule-title">
                <span>交易规则</span>
                <div class="rule-more rotateUp" @click="slide('rule')">&#xe6ae;</div>
            </div>
            <ul class="rule-box" ref="rule">
                <li class="rule-detail" v-for='item in rules' :key='item.ru_id'>
                    <span class="rule-name">{{item.ru_name}}</span>
                    <div class="rule-intro">{{item.ru_intro}}</div>
                </li>
            </ul>
        </div>
        <div class="specific">
            <div class="specific-title">
                <span>产品信息</span>
                <div class="specific-more rotateUp" @click="slide('specific')">&#xe6ae;</div>
            </div>
            <ul class="specific-box" ref='specific'>
                <li class="specific-detail">
                    <span class="specific-name">销售地区</span>
                    <div class="specific-intro">全国</div>
                </li>
                <li class="specific-detail">
                    <span class="specific-name">收益类型</span>
                    <div class="specific-intro">非保本浮动收益</div>
                </li>
                <li class="specific-detail">
                    <span class="specific-name">最低持有天使</span>
                    <div class="specific-intro">30天</div>
                </li>
                <li class="specific-detail">
                    <span class="specific-name">募集方式</span>
                    <div class="specific-intro">公募</div>
                </li>
                <li class="specific-detail">
                    <span class="specific-name">投资性质</span>
                    <div class="specific-intro">固定收益类</div>
                </li>
                <li class="specific-detail">
                    <span class="specific-name">风险等级</span>
                    <div class="specific-intro">中低风险</div>
                </li>
            </ul>
        </div>
        <div class="rule suggest">
            <div class="rule-title">
                <span>风险揭示书、产品说明书及投资者权益须知</span>
                <div class="rule-more">&#xe6ac;</div>
            </div>
            <div class="rule-title">
                <span>运作公告</span>
                <div class="rule-more">&#xe6ac;</div>
            </div>
            <div class="rule-title">
                <span>到期公告</span>
                <div class="rule-more">&#xe6ac;</div>
            </div>
            <div class="rule-title">
                <span>产品协议</span>
                <div class="rule-more">&#xe6ac;</div>
            </div>
        </div>
    </div>
    <footer class="footer" id='footer'>
        <div class="state">
            <div class="min-logo"><img src="./images/ico.png" alt=""></div>
            <!-- 最长 "剩余10,00000000份" 可正常显示 -->
            <div class="pro-left">剩余{{pro_left}}份</div>
            <div class="time-box red">
                <div class="arrow-left"></div>
                <div class="time-title red" ref='countTitle'>本次秒杀开始还剩</div>
                <div class="time-left">
                    <div id="time-h">{{hour_l | size2}}</div> :
                    <div id="time-m">{{minute_l | size2}}</div> :
                    <div id="time-s">{{second_l | size2}}</div>
                </div>
            </div>
        </div>
        <button class="wide-btn scheduled-btn" ref='btn' @click.once='press()'>预定</button>
    </footer>
    <script src="./js/v-product.js"></script>
    <!-- 加载动画 -->
    <div class="loader-box">
        <div class="loader">
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__ball"></div>
        </div>
    </div>
</body>

</html>